.navbar {
  background-color: #1aff4b !important;
}

.navbar .navbar-brand{
  color: #FFF;
}

.navbar .navbar-nav li a{
  color: #FFF !important;
}

.navbar-toggler {
  background-color: #FFF;
  color: #000;
}
