.bg-image {
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	filter: blur(8px);
}

h1 {
	text-align: center;
	color: white;
}