body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("images/background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 30px
}

.icons{
  display: inline-block;
  width: 90px;
  margin: 0 5px;
  cursor: pointer;
}

.icons i{
  font-size: 40px;
  display: block;
  text-align: center;
  transition: .3s;
}

.icons span{
  display: block;
  width: 90px;
  text-align: center;
  padding: 9px 0;
  color: white;
  border-radius: 3px;
  position: absolute;
  bottom: -25px;
  font-size: 15px;
  opacity: 0;
  transition: .3s opacity ease-in;
  color: black;
}
.icons span:before{
  position: absolute;
  color: black;
  height: 13px;
  width: 13px;
  top: 28px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg);
}


.icons span.tw, .icons span.tw:before{
  background: #ffffff;
}
.icons span.gh, .icons span.gh:before{
  background: #ffffff;
}
.icons span.st, .icons span.st:before{
  background: #ffffff;
}

.icons:hover > span{
  opacity: 1;
}

a.nav-link:link
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:active
{
   color: #ffffff;
   text-decoration: none;
}
